#display {
  background-color: black;
  color: white;
  width: 150px;
}

.buttonContainer {
  display: flex;
}
.buttonContainer button {
  justify-content: space-between;
  margin: 10px;
}

.container {
  display: flex;
}
.items {
  text-align: center;
  justify-content: center;
  width: 200px;
  border: 1px solid black;
}

dl {
  background-color: grey;
  color: black;
  text-align: center;
}
dl dt {
  font-weight: bolder;
  background-color: lightgrey;
  padding-bottom: 10px;
}

/* Task Manager */

.taskContainer {
  text-align: center;
}
.tasks {
  padding-top: 5px;
  color: red;
  font-style: italic;
}
