#display {
  background-color: black;
  color: white;
  width: 150px;
}

.buttonContainer {
  display: flex;
}
.buttonContainer button {
  justify-content: space-between;
  margin: 10px;
}

.container {
  display: flex;
}
.items {
  text-align: center;
  justify-content: center;
  width: 200px;
  border: 1px solid black;
}

dl {
  background-color: grey;
  color: black;
  text-align: center;
}
dl dt {
  font-weight: bolder;
  background-color: lightgrey;
  padding-bottom: 10px;
}

/* Task Manager */
.dropdown {
  padding: 5px;
}

.addTaskBtn {
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.taskContainer {
  text-align: center;
}
.tasks {
  margin-top: 5px;
  padding-top: 5px;
  font-style: italic;
  border: 2px solid black;
  display: flex;
}

.tasks p {
  color: black;
  border: 2px dashed black;
  margin: 5px;
}
